.gameButton {
    color: white;
    text-decoration: none;

    .gameItem {
        max-width: 100%;
        height: auto;
        aspect-ratio: auto 1 / 1;
        background-size: cover;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;

        filter: grayscale(50%) brightness(0.8);

        &:hover {
            transform: scale(1.1) !important;
        }

        &.entry {
            animation: signalEntry infinite 2s;
            animation-direction: alternate-reverse;
            filter: grayscale(0) brightness(1);
        }

        &.possible {
            animation: signalPossible infinite 2s;
            animation-direction: alternate-reverse;
            filter: grayscale(0) brightness(1);
        }

        &.disabled {
            filter: grayscale(100%) brightness(0.5);
        }
    }

    .gameTitleBlock {
        display: none;
    }

    .imageSrc {
        width: 100px;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

@keyframes signalEntry {
    from {
        box-shadow: 0 0 10px #6cf56cc9;
    }
    to {
        box-shadow: 0 0 30px #6cf56cc9;
    }
}
@keyframes signalPossible {
    from {
        box-shadow: 0 0 10px #f5de5a8f;
    }
    to {
        box-shadow: 0 0 30px #f5de5a8f;
    }
}
